*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.note {
    background-color: rgb(200, 216, 53);
    text-align: center;
    padding: 20px;
    /* tu dong can giua 4 phia*/
}
header{
    background-color: burlywood;
    color: white;
    text-align: center;
    padding: 30px;
}
header div h1 {
    margin-bottom: 10px;
}
nav{
    background-color: rgb(202, 150, 97);
}
nav ul{
    display: flex;
    /* mac dinh dan hang ngang */
    list-style-type: none;
}
nav ul li {
    padding: 5px 15px ;
    color: white;
}
nav ul li:hover{
    background-color: grey;
}
main {
    display: flex;
    flex-wrap: wrap;
    /* Wrap xuong dong hoac khong xuong dong */
}
aside {
    flex: 30%;
    background-color: rgb(236, 241, 241);
    padding: 30px 20px;
}
article{
    flex: 70%;
    background-color: white;
    padding: 30px 20px;
}
footer{
    background-color: rgb(197, 194, 194);
    height: 80px;
    text-align:center;
    padding: 30px 20px;
}
@media  screen and (max-width:576px) {
    nav ul{
        flex-direction: column;
        text-align: center;
    }
    aside {
        flex: 100%;
    }
    article{
        flex: 100%;
    }
}
#fakeimg{
    height: 200px;
    background-color: rgb(170, 170, 170);
    text-align: left;
    padding: 20px;
    margin-bottom: 20px;
}
